.titulo {
    margin: 0 auto;
    width: 960px;
}
img {
    width: 300px;
    height: 400px;
}
#contenedor {
    display: table;
    border: 0 solid #000;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
#contenidos {
    display: table-row;
}
#columna1, #columna2, #columna3 {
    display: table-cell;
    border: 0 solid #000;
    vertical-align: middle;
    padding: 10px;
}